<mat-card class="container" *ngIf="showPurchaseForm">
  <mat-card-title>Buy Resource</mat-card-title>
  <mat-card-content>
    <form #purchaseForm="ngForm">
      <mat-form-field class="full-width">
        <mat-select placeholder="Choose Resource" [(ngModel)]="selectedResource" name="resource" required>
          <mat-option *ngFor="let resource of resourcesAvailable" [value]="resource">
            {{resource.name}} {{resource.price | currency}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width" *ngIf="selectedResource">
        <input matInput placeholder="Enter quantity" type="number" name="amount" [(ngModel)]="amount" required>
        <mat-hint align="start">
          <strong>Amount Available</strong>
        </mat-hint>
        <mat-hint *ngIf="selectedResource" align="end">{{selectedResource.available}}</mat-hint>
      </mat-form-field>
      <div *ngIf="selectedResource && amount > 0" style="margin-top:5px">
        <h6>SubTotal Total: {{selectedResource.price * amount | currency}}</h6>
        <h6>Tax: {{selectedResource.price * amount * 0.11 | currency}}</h6>
        <h5>Total: {{selectedResource.price * amount * 1.11 | currency}}</h5>
        <h6>Automatically select Payment method?</h6>
        <mat-radio-group [(ngModel)]="automaticPaymentMethod" required name="automaticPaymentMethod">
          <mat-radio-button value="1"> Yes</mat-radio-button>
          <mat-radio-button value="0"> No</mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="full-width" *ngIf="automaticPaymentMethod == 0">
            <mat-select placeholder="Choose Payment Method" [(ngModel)]="selectedPaymentMethod" name="paymentMethod" required>
              <mat-option *ngFor="let method of paymentMethods" [value]="method.id">
                Card #: {{method.cardNumber}} - Exp: {{method.expirationDate | date}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        
      </div>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="hidePurchase()">Cancel</button>
    <button mat-raised-button color="primary" (click)="purchase()" [disabled]="!purchaseForm.form.valid">Purchase</button>
  </mat-card-actions>
</mat-card>

<mat-card class="container" *ngIf="!showPurchaseForm">
  <mat-card-title>
    Purchase List
  </mat-card-title>
  <mat-card-content>
    <mat-table #table [dataSource]="purchasesDataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let purchase"> {{purchase.purchase_id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="resource_name">
        <mat-header-cell *matHeaderCellDef> Resource Name </mat-header-cell>
        <mat-cell *matCellDef="let purchase"> {{purchase.resource_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="purchasePrice">
        <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
        <mat-cell *matCellDef="let purchase"> {{purchase.purchase_price | currency}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="qty">
        <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
        <mat-cell *matCellDef="let purchase"> {{purchase.quantity}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="supplier">
        <mat-header-cell *matHeaderCellDef> Supplier </mat-header-cell>
        <mat-cell *matCellDef="let purchase"> {{purchase.supplier_name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Purchase Date </mat-header-cell>
        <mat-cell *matCellDef="let purchase"> {{purchase.date | date}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="purchaseColumns"></mat-header-row>
      <mat-row *matRowDef="let purchase; columns: purchaseColumns"></mat-row>
    </mat-table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="showPurchase()">Purchase Resource</button>
  </mat-card-actions>
</mat-card>
