<mat-card class="container">
  <mat-card-title>Account Info</mat-card-title>
  <h2>{{user.first_name}} {{user.last_name}}</h2>
  <h3>{{user.email}}</h3>
  <h4>{{user.phone}}</h4>
  <h5>{{user.city}}</h5>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="signOut()">Sign Out</button>
    <button mast-raised-button (click)="showResetPass()">Reset Password</button>
  </mat-card-actions>
</mat-card>

<mat-card class="container" *ngIf=showResetpassword>
  <mat-card-title>Reset Password</mat-card-title>
  <mat-card-content>
    <form #passwordForm="ngForm" (ngSubmit)="changePassword">
      <mat-form-field class="full-width">
        <input matInput placeholder="New password" type="password" id="password" name="password" [(ngModel)]="confrimPassword"required>
      </mat-form-field>
      <mat-form-field class="full-width">
         <input matInput placeholder="Confirm Password" type="password" id="confirmpassword" name="confrimPassword" [(ngModel)]="confirmPassword" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!passwordForm.form.valid">Reset Password</button>
      </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="hideResetPass()">Cancel</button>
  </mat-card-actions>
</mat-card>

<mat-card class="container">
  <mat-card-title>
    Payment Methods
  </mat-card-title>
  <mat-card-content>
      <mat-table #table [dataSource]="paymentMethodDataSource">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let payment"> {{payment.id}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="cardHolder">
            <mat-header-cell *matHeaderCellDef> Card Holder </mat-header-cell>
            <mat-cell *matCellDef="let payment"> {{payment.cardHolder}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="cardNumber">
            <mat-header-cell *matHeaderCellDef> Card Number </mat-header-cell>
            <mat-cell *matCellDef="let payment"> {{payment.cardNumber}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="zip">
            <mat-header-cell *matHeaderCellDef> Zip Code </mat-header-cell>
            <mat-cell *matCellDef="let payment"> {{payment.zipCode}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef> Expiration Date </mat-header-cell>
            <mat-cell *matCellDef="let payment"> {{payment.expirationDate | date}} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="paymenMethodColumns"></mat-header-row>
          <mat-row *matRowDef="let payment; columns: paymenMethodColumns"></mat-row>
        </mat-table>
  </mat-card-content>
</mat-card>

<mat-card class="container">
    <mat-card-title>
      Purchase List
    </mat-card-title>
    <mat-card-content>
        <mat-table #table [dataSource]="purchasesDataSource">
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
              <mat-cell *matCellDef="let purchase"> {{purchase.purchase_id}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="resource_name">
              <mat-header-cell *matHeaderCellDef> Resource Name </mat-header-cell>
              <mat-cell *matCellDef="let purchase"> {{purchase.resource_name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="purchasePrice">
              <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
              <mat-cell *matCellDef="let purchase"> {{purchase.purchase_price | currency}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="qty">
                <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                <mat-cell *matCellDef="let purchase"> {{purchase.quantity}} </mat-cell>
              </ng-container>
            <ng-container matColumnDef="supplier">
              <mat-header-cell *matHeaderCellDef> Supplier </mat-header-cell>
              <mat-cell *matCellDef="let purchase"> {{purchase.supplier_name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef> Purchase Date </mat-header-cell>
              <mat-cell *matCellDef="let purchase"> {{purchase.date | date}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="purchaseColumns"></mat-header-row>
            <mat-row *matRowDef="let purchase; columns: purchaseColumns"></mat-row>
          </mat-table>
    </mat-card-content>
  </mat-card>