<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened="true">
      <div>
          <h2>Project 9-20</h2>
          <h5>Requester</h5>
      </div>
      <mat-nav-list>
        <mat-list-item routerLink="/requester/resources" routerLinkActive="active">
            <mat-icon mat-list-icon>list</mat-icon>
            Resources
        </mat-list-item>
        <mat-list-item routerLink="/requester/suppliers" routerLinkActive="active">
            <mat-icon mat-list-icon>store</mat-icon>
            Suppliers
        </mat-list-item>
        <mat-list-item routerLink="/requester/purchase" routerLinkActive="active">
            <mat-icon mat-list-icon>credit_card</mat-icon>
            Purchase
        </mat-list-item>
        <mat-list-item routerLink="/requester/notifications" routerLinkActive="active">
            <mat-icon mat-list-icon>notifications</mat-icon>
            Notifications
        </mat-list-item>
        <mat-list-item routerLink="/requester/account" routerLinkActive="active">
            <mat-icon mat-list-icon>account_circle</mat-icon>
            Account
        </mat-list-item>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>