<mat-card class="table-container mat-elevation-z8" *ngIf="!showSupplier">
    <mat-card-header>
      <mat-card-title>Suppliers</mat-card-title>
    </mat-card-header>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let supplier"> {{supplier.supplier_id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let supplier"> {{supplier.first_name}} {{supplier.last_name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let supplier"> {{supplier.email}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
        <mat-cell *matCellDef="let supplier"> {{supplier.city}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
        <mat-cell *matCellDef="let supplier"> {{supplier.phone}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Supplier Profile </mat-header-cell>
        <mat-cell *matCellDef="let supplier"> 
          <button mat-raised-button (click)="viewSupplier(supplier.supplier_id)">View</button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedRows"></mat-header-row>
      <mat-row *matRowDef="let supplier; columns: displayedRows"></mat-row>
    </mat-table>
  </mat-card>
  
  <div class="container" *ngIf="showSupplier">
    <button mat-raised-button color="red" *ngIf="showSupplier" (click)="hideSupplier()"> Close </button>
  </div>

  <app-supplier-profile [accountID]="supplier_id" *ngIf="showSupplier"></app-supplier-profile>


